.FAQ {
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; /* Change if necessary */
    text-align: center;
  
  }
  
  .faq-title {
    max-width: 500px;
    text-align: center;
    height: auto;
    margin-bottom: 40px;
  }
  
  .faq-items {
    width: 200%;
    max-width: 1000px;
  }
  
  .faq-item {
    margin-bottom: 15px;
    border: 1px solid #ff7600;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .faq-question {
  
    text-align: center;
    padding: 15px 20px;
    background-color: #ff7600;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Recoleta;
    text-align: center;
  }
  
  .faq-question:hover {
    background-color: #ff8800;
  }
  
  .toggle-icon {
    font-size: 15px;
  }
  
  .faq-answer {
    padding: 15px 20px;
    background-color: #fff5e6;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
  }
  